
  <div class="container-fluid">
    <h1 class="mt-4">Client</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">{{title}}</li>
    </ol>



    <div class="location-edit">

      <p *ngIf="this.id && !location"><em>Loading...</em></p>
      <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="name">lastName:</label>
          <br />
          <input type="text" id="lastName"
                 formControlName="lastName" required
                 placeholder="lastName..."
                 class="form-control" />

          <div *ngIf="hasError('lastName')"
               class="invalid-feedback">
            <div *ngIf="form.get('lastName').errors?.required">
              lastName is required.
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="name">firstName:</label>
          <br />
          <input type="text" id="firstName"
                 formControlName="firstName" required
                 placeholder="firstName..."
                 class="form-control" />

          <div *ngIf="hasError('firstName')"
               class="invalid-feedback">
            <div *ngIf="form.get('firstName').errors?.required">
              firstName is required.
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="name">mobile:</label>
          <br />
          <input type="tel" id="mobile"
                 formControlName="mobile" required
                 placeholder=" mobile..."
                 class="form-control" />

          <div *ngIf="hasError('mobile')"
               class="invalid-feedback">
            <div *ngIf="form.get('mobile').errors?.required">
              mobile is required.
            </div>
          </div>

        </div>


        <div class="form-group">
          <label for="name">Cemail:</label>
          <br />
          <input type="email" id="email"
                 formControlName="email" required
                 placeholder="  email..."
                 class="form-control" />

          <div *ngIf="hasError('email')"
               class="invalid-feedback">
            <div *ngIf="form.get('email').errors?.required">
              email is required.
            </div>
          </div>
          <div *ngIf="form.get('email').errors?.isDupeField" class="invalid-feedback">
            email does already exist: please choose another.
          </div>


        </div>


        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" formControlName="active" id="active" type="checkbox" />
            <label class="custom-control-label" for="active">active</label>
          </div>
        </div>

         

        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" formControlName="acceptsMarketingNotifications" id="acceptsMarketingNotifications" type="checkbox" />
            <label class="custom-control-label" for="acceptsMarketingNotifications">acceptsMarketingNotifications</label>
          </div>
        </div>

        <div class="form-group">
          <label for="sendNotificationBy">sendNotificationBy:</label>
          <br />
          <mat-form-field *ngIf="sendBys">
            <mat-label>Select one..</mat-label>
            <mat-select id="sendNotificationBy" formControlName="sendNotificationBy">
              <mat-option *ngFor="let sendBy of sendBys" [value]="sendBy.sendByName">
                {{sendBy.sendByName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div *ngIf="form.get('sendNotificationBy').invalid &&
                 (form.get('sendNotificationBy').dirty || form.get('sendNotificationBy').touched)"
               class="invalid-feedback">
            <div *ngIf="form.get('sendNotificationBy').errors?.required">
              Please select a role.
            </div>
          </div>
        </div>



        <div class="form-group">
          <label for="name">photo:</label>
          <br />
          <input type="text" id="photo"
                 formControlName="photo" required
                 placeholder=" photo..."
                 class="form-control" />

          <div *ngIf="hasError('photo')"
               class="invalid-feedback">
            <div *ngIf="form.get('photo').errors?.required">
              photo is required.
            </div>
          </div>

        </div>



        <div class="form-group commands">
          <button *ngIf="id" type="submit"
                  (click)="onSubmit()"
                  [disabled]="form.invalid"
                  class="btn btn-success">
            Save
          </button>
          <button *ngIf="!id" type="submit"
                  (click)="onSubmit()"
                  [disabled]="form.invalid"
                  class="btn btn-success">
            Create
          </button>
          <button type="button"
                  [routerLink]="['/categories']"
                  class="btn btn-default">
            Cancel
          </button>
        </div>
        <!-- Form debug info panel -->
        <div class="card bg-light mb-3">
          <div class="card-header">Form Debug Info</div>
          <div class="card-body">
            <div class="card-text">
              <div><strong>Form value:</strong></div>
              <div class="help-block">
                {{ form.value | json }}
              </div>
              <div class="mt-2"><strong>Form status:</strong></div>
              <div class="help-block">
                {{ form.status | json }}
              </div>
            </div>
          </div>
        </div>

        <!-- Form activity log panel -->
        <div class="card bg-light mb-3">
          <div class="card-header">Form Activity Log</div>
          <div class="card-body">
            <div class="card-text">
              <div class="help-block">
                <span *ngIf="activityLog"
                      [innerHTML]="activityLog"></span>
              </div>
            </div>
          </div>
        </div>



        <!--<div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let alias of aliases.controls; let i=index">
       The repeated alias template
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>-->
      </div>
          </div>
        </div>
